html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

main, h1 {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background: #e5007e;
    color: White;
    margin-bottom: 1em;
}

main, header {
    padding: 4px 24px;
}

.black {
    color: black;
}

h1 {
    font-weight: 500;
    font-size: 24px;
}

#video {
    height: 300px;
    background: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#leaders {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: .7em;
}

.leader {
    display: inline-block;
    padding-top: 100%;
    background-size: cover;
    background-position: center top;
    box-shadow: 1px 1px 4px rgba(0,0,0);
    transition: transform 200ms ease-out;
    text-align: center;
    position: relative;
}

.leader:hover {
    box-shadow: 3px 3px 6px rgba(0,0,0,.5);
    transform: scale(1.1);
}

.leader:hover .leader-name {
    display: block;

}

.leader:not([data-denounced]) {
    filter: grayscale();
}

.leader-name {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-top: 4px;
    display: none;
    font-size: 11px;
    background: rgba(255,255,255, .8);
    padding: 4px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
}

